body {
    padding: 0;
    margin: 0;
    background-image: url(./img/fn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
}
header h1{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4.5rem;
    color: rgba(0, 4, 5, 0.507);
    display: none;
}
.login{
    width: 20rem;
    height: 25rem;
    background-color: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    /* display: none; */
}

.login .logo-bank{
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: -4rem;
    left: 6rem
}

.login h2{
    margin: 0;
    padding: 0 0 2rem;
    text-align: center;
    font-size: 3rem;

}

.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login input{
    width: 100%;
    height: 2rem;
    margin-bottom: 2rem;
}

.login #user-name, #user-password{
    font-size: 16px;
}

.button-login{
    border: none;
    width: 100%;
    height: 3rem;
    background-color: rgb(236, 202, 4);
    font-size: 1rem;
    font-weight: bold;
}

.button-login:hover{
    background-color: rgba(19, 99, 170, 0.877);
    color: white;
}

.transaction{
    text-align: center;
    display: none;
}

.transaction h2{
    display: block;
    font-size: 3rem;
    color: rgb(236, 202, 4);
}

.transaction-type button{
    width: 20rem;
    height: 5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background-color: transparent;
    color: white;
}

.transaction-type button:hover{
    background-color:  rgb(236, 202, 4);
    color: white;
    border-radius: 1rem 1rem 0 0;
}
